
@{
    Layout = null;
}


<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DMS | TTTT</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Assets/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @RenderPage("_header.cshtml")
        @RenderPage("_siderbar.cshtml")

        @RenderBody()

        @RenderPage("_footer.cshtml")
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="/Assets/admin/plugins/jquery/jquery.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="/Assets/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Assets/admin/ckfinder/ckfinder.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/dist/js/adminlte.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/bundeles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", required: false)
    @RenderSection("jsSelected", required: false)
</body>
</html>
