@model  List<Models.ViewModel.VanBanCreateDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 style="font-family:'Times New Roman', Times, serif">Danh sách văn bản</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-inline" style="float:right">
                                <div class="input-group" data-widget="sidebar-search">
                                    <input class="form-control form-control-sidebar" type="search"
                                           placeholder="Tìm kiếm" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-sidebar">
                                            <i class="fas fa-search fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="105px">Mã văn bản</th>
                                        <th width="105px">Số văn bản</th>
                                        <th width="130px">Nơi phát hành</th>
                                        <th width="120px">Loại văn bản</th>
                                        <th width="150px">Trích yếu</th>
                                        <th width="180px">Ngày ký</th>
                                        <th width="150px">Người ký</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ID_VAN_BAN</td>
                                            <td>@item.SO_VAN_BAN</td>
                                            <td>@item.noiphathanh</td>
                                            <td>@item.loaivanban</td>
                                            <td>@item.TRICH_YEU</td>
                                            <td>@item.NGAY_KY</td>
                                            <td>@item.NGUOI_KY</td>

                                            <td>

                                                @Html.ActionLink("Chi tiết", "ViewDetails", new { id = item.ID_VAN_BAN }, new
                                           {
                                               @class = "btn btn-outline-warning"
                                           })


                                                @Html.ActionLink("Sửa", "Edit", new { id = item.ID_VAN_BAN }, new
                                           {
                                               @class = "btn btn-outline-success"
                                           })
                                                <input type="hidden" value="@item.FILE_DINH_KEM" />
                                                <a class="btn btn-danger" onclick="deleteVanBan(this)">Thu hồi</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="~/wwwroot/js/jquery-3.4.1.min.js"></script>
<script>
    var j = jQuery.noConflict()   
    var deleteVanBan = (e) => {
        console.log(e)
        let tr = e.parentNode.parentNode;
        let filedinhkem = e.previousElementSibling.value;
        if (confirm("Có muốn xóa hay không?")) {           
            j.post('/Admin/VanBan/DeleteVanBan', { idvanban: parseFloat(tr.cells[0].innerText), filedinhkem: filedinhkem}, (d) => {
                console.log({ d });
                window.location.reload();
            })
        }
        //ok men
    }
</script>


    